<li class="px-3 py-1 d-flex" style="font-size: .9rem; overflow: hidden;">
    <button class="btn btn-sm toggle-btn btn-primary @(IsActive ? InactiveClass : ActiveClass) w-100"
        @onclick="ToggleIsActive">
        @Label
    </button>
    <button class="btn btn-sm toggle-btn btn-info @(IsActive ? ActiveClass : InactiveClass) w-100"
        @onclick="ToggleIsActive">
        @ActiveLabel
    </button>
</li>

@code {

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string ActiveLabel { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public EventCallback<bool> IsActiveChanged { get; set; }

    [Parameter]
    public string ActiveClass { get; set; } = "code-btn";

    [Parameter]
    public string InactiveClass { get; set; } = "code-btn code-btn-hidden";

    private Task ToggleIsActive()
    {
        IsActive = !IsActive;
        return IsActiveChanged.InvokeAsync(IsActive);
    }
}